body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:23px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:56px;
  width:360px;
  height:11px;
  color:#1E1E1E;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:73px;
  width:374px;
  height:644px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:140px;
  width:150px;
  height:150px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:150px;
  word-wrap:break-word;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:22px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:400px;
  width:28px;
  height:28px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:22px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:397px;
  width:273px;
  height:30px;
}
#u1252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:434px;
  width:305px;
  height:1px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:50px;
  width:375px;
  height:667px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:50px;
  width:375px;
  height:23px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:56px;
  width:360px;
  height:11px;
  color:#1E1E1E;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:73px;
  width:374px;
  height:644px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:445px;
  width:273px;
  height:30px;
}
#u1258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:485px;
  width:305px;
  height:1px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:546px;
  width:260px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:260px;
  word-wrap:break-word;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:452px;
  width:53px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:515px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1262_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:460px;
  height:78px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:73px;
  width:450px;
  height:68px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  line-height:22px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  word-wrap:break-word;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:331px;
  width:107px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1266_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1266.mouseOver {
}
#u1266_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 129, 249, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1266.selected {
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:331px;
  width:106px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1267_img.mouseOver {
}
#u1267.mouseOver {
}
#u1267_img.selected {
}
#u1267.selected {
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:636px;
  width:260px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:260px;
  word-wrap:break-word;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:605px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1269_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:140px;
  width:150px;
  height:150px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:150px;
  word-wrap:break-word;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:22px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:400px;
  width:28px;
  height:28px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:22px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:397px;
  width:273px;
  height:30px;
}
#u1272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:434px;
  width:305px;
  height:1px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:445px;
  width:273px;
  height:30px;
}
#u1274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:485px;
  width:305px;
  height:1px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:452px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:331px;
  width:107px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1278_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1278.mouseOver {
}
#u1278_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 129, 249, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:22px;
}
#u1278.selected {
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:331px;
  width:106px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1279_img.mouseOver {
}
#u1279.mouseOver {
}
#u1279_img.selected {
}
#u1279.selected {
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:496px;
  width:273px;
  height:30px;
}
#u1280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:536px;
  width:305px;
  height:1px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:151px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:460px;
  height:72px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:151px;
  width:450px;
  height:62px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  line-height:22px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:496px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:547px;
  width:273px;
  height:30px;
}
#u1285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:587px;
  width:305px;
  height:1px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
