body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:769px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:1077px;
  width:360px;
  height:769px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:54px;
  width:360px;
  height:789px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:54px;
  width:360px;
  height:789px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1222px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1077px;
  width:360px;
  height:1222px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:876px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:2438px;
  width:360px;
  height:876px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:876px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:2438px;
  width:360px;
  height:876px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:772px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:2438px;
  width:360px;
  height:772px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:2438px;
  width:360px;
  height:789px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1776px;
  top:2438px;
  width:360px;
  height:789px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:720px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1077px;
  width:360px;
  height:720px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:720px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1077px;
  width:360px;
  height:720px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:979px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2175px;
  top:2438px;
  width:360px;
  height:979px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:54px;
  width:360px;
  height:789px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:720px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2586px;
  top:2438px;
  width:360px;
  height:720px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:726px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:1071px;
  width:360px;
  height:726px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:789px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:54px;
  width:360px;
  height:789px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:822px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1661px;
  top:54px;
  width:360px;
  height:822px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
